.App {
  text-align: center;
  background-color: #717273;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navigation {
  text-align: right;
}

.navigationLinks {
  color: #5cc1b3;
  text-decoration: none;
  padding: 5px;
}

.navigationLinks:hover {
  text-decoration: underline;
}
