.partOfSpeech {
  text-align: left;
  text-transform: capitalize;
  transition: all 200ms ease-in-out;
}

.partOfSpeech:hover {
  text-decoration: underline;
}

.definitions {
  text-align: left;
  margin: 15px;
  margin-bottom: -10px;
}

.examplesHeading {
  text-align: left;
  margin-top: 35px;
}

.examplesHeading:hover {
  text-decoration: underline;
  text-transform: capitalize;
  transition: all 200ms ease-in-out;
}

.examples {
  text-align: left;
  margin: 15px;
  margin-bottom: -10px;
}
