.partOfSpeech {
  font-size: 40px;
  text-align: left;
  text-transform: capitalize;
  transition: all 200ms ease-in-out;
  margin-bottom: -10px;
  margin-top: 80px;
}

.partOfSpeech:hover {
  text-decoration: underline;
}

.definitions {
  text-align: left;
  margin: 15px;
  margin-bottom: -10px;
  font-size: 20px;
}

.examplesHeading {
  text-align: left;
  margin-top: 40px;
  font-size: 25px;
}

.examplesHeading:hover {
  text-decoration: underline;
  text-transform: capitalize;
  transition: all 200ms ease-in-out;
}

.examples {
  text-align: left;
  margin: 15px;
  margin-bottom: -10px;
}

@media (max-width: 550px) {
  .definitions {
    font-size: 15px;
  }
}
