.searchBar {
  margin-right: 5px;
}

.searchBarButton {
  background: #5cc1b3;
  border: 1px solid #5cc1b3;
  border-radius: 5px;
  box-shadow: 5px 5px 2px 1px rgb(92 193 179 / 20%);
  transition: all 200ms ease-in-out;
  justify-content: center;
}

.searchBarButton:hover {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.keyword {
  text-transform: capitalize;
  font-size: 70px;
  font-weight: bold;
  margin: 10px;
}
