footer {
  font-size: 12px;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 30px;
}

.footerLink {
  color: #5cc1b3;
  text-decoration: none;
}

.footerLink:hover {
  font-size: 20px;
  text-decoration: underline;
  cursor: pointer;
}
