.audioPlayer {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 767px) {
  .audioPlayers {
    width: 150px;
  }
}

@media (max-width: 350px) {
  .audioPlayers {
    display: none;
  }
}
